.menu {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.menu li {
    font-weight: 500;
}

.menu + .menu li {
    font-weight: 300;
}

.menu li button {
    padding-block: 12px;
    padding-inline: 16px;
    border-radius: 0.75rem;
    border: none;
    background-image: var(--blue-gradient);
    color: var(--white);
    font-weight: 600;
    transition: background-image 0.3s ease;
}

.menu li button:hover {
    background-image: var(--blue-gradient-hover);
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header-nav-item {
    transition: color 0.3s ease;
}

.header-nav-item:hover {
    color: var(--blue-primary);
}