.container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-block: 140px;
    padding-inline: 280px;
    background-color: var(--background-color);
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
    padding-inline: 2rem;
    margin-bottom: 96px;
}

.grid video {
    width: 100%;
    border-radius: 12px;
}

.main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.main-text h1 {
    letter-spacing: -2px;
    font-size: 48px;
    font-weight: 600;
    font-family: 'Space Grotesk', sans-serif;
    width: 75%;
    line-height: 1.1;
    color: var(--black);
}

.main-text p {
    width: 70%;
    font-size: 20px;
    text-align: justify;
    font-family: 'Graphik Trial', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    color: var(--text-color);
}

.call-to-action {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-inline: 32px;
    padding-block: 32px;
    font-size: 18px;
    background-image: var(--blue-gradient);
    color: var(--white);
    border-radius: 12px;
    height: 5.5rem;
    width: fit-content;
    min-width: 33%;
    text-align: left;
    border: none;
    transition: all 0.3s ease;
    font-weight: 600;
    margin-top: 2rem;
    gap: 4px;
}

.call-to-action:hover {
    background-image: var(--blue-gradient-hover);
}

.buttons {
    display: flex;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
}

.buttons a {
    width: auto;
    color: var(--black);
    font-weight: 600;
    transition: color 0.3s ease;
    margin-left: 2px;
}


span {
    transition: all 0.3s ease;
    display: inline-flex;
    align-items: center;
}

a span {
    margin-left: 4px;
}

.call-to-action:hover span,
.buttons a:hover svg {
    transform: translateX(4px);
}

.centered-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    width: 40vw;
    margin: 0 auto;
    text-align: center;
    padding-block: 32px;
}

.centered-text h3 {
    font-size: 24px;
    color: var(--black);
    font-weight: 600;
}

.centered-text p {
    font-weight: 300;
    line-height: 1.6;
    text-align: center;
    width: 90%;
}
.mini-title {
    background-color: var(--dark-blue);
    color: var(--white);
    gap: 8px;
    border-radius: 64px;
    padding-inline: 16px;
    padding-block: 6px;
    font-weight: 500;
    letter-spacing: -0.1px;
    display: inline-flex;
    align-items: center;
}

button.about {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    border: 2px solid var(--black);
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.25px;
    width: fit-content;
    min-width: 20%;
    padding: 0;
    transition: all 0.3s ease;
    font-size: 16px;
}
svg {
    transition: all 0.3s ease;
}
button.about:hover svg {
    transform: translateX(4px);
}

button.about span {
    padding: 16px 24px;
    display: flex;
    align-items: center;
    gap: 4px;
}
.video-and-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    height: 440px;
    width: 800px;
    margin-top: -64px;
}


.overlap-lg {
    position: relative;
    margin-top: 40px;
    height: 480px;
    width: 800px;
    z-index: 2;
}

.overlap-md {
    height: 440px;
    position: relative;
    z-index: 1;
}

.card-lg-animated {
    background-image: var(--black-gradient);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border-radius: 16px;
    padding: 40px 80px;
    gap: 24px;
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;
}
.card-lg-animated .centered-text {
    margin-top: 24px;
}
.card-lg-animated .centered-text h3, .card-lg-animated .centered-text p {
    color: var(--white);
}

svg.fixed {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    will-change: transform;
    z-index: 4;
}
.card-lg-animated .centered-text p {
    width: 80%;
}
.card-lg-animated .centered-text h3 {
    font-size: 28px;
    font-weight: 500;
    font-family: 'Graphik Trial', sans-serif;
    
}
.img-overlap {
    height: 500px;
}
.card-wrapper {
    display: flex;
    margin-top: 96px;
}
.card-container {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 24px;
    height: 250px;
}
.card-sm {
    display: flex;
    justify-self: flex-end;
    justify-content: flex-start;
    align-items: center;
    background-color: hsl(228, 8%, 20%);
    height: 100%;
    border-radius: 16px;
    width: 600px;
    padding: 8px 8px;
    gap: 24px;
}

.card-sm h6 {
    color: #ca2f79;
    font-size: 14px;
    font-family: 'Graphik Trial', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
}
.card-sm p, .card-sm h4, .card-sm a {
    color: var(--white);
    text-align: justify;
    font-family: 'Graphik Trial', sans-serif;
}

.card-sm a {
    text-decoration: underline;
    justify-self: flex-end;
}
.card-sm img {
    height: 100%;
    border-radius: 24px;
}

.card-text {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    padding-block: 16px;
    gap: 8px;
    height: 100%;
    padding-right: 16px;
}

.filler {
    width: 600px;
    height: 250px;
    background-color: transparent;
}

.carousel {
    overflow-x: hidden;    
    display: flex;
    gap: 200px;
}

.text-and-carousel p {
    text-align: center;
    color: var(--background-color);
    margin: 32px 0;
}

.grid-title {
    font-family: "IBM Plex Sans Condensed", sans-serif;
    letter-spacing: 2px;
    text-align: center;
    font-size: 32px;
    color: hsl(0, 0%, 25%);
    font-weight: 500;
}

.cards-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    padding-inline: 136px;
    gap: 24px;
    padding-top: 48px;

}
.card {
    background-color: var(--background-color);
    height: 216px;
    border-radius: 16px;
    aspect-ratio: 2.5/1;
    display: flex;
}

.card img {
    border-radius: 16px 0 0 16px;
    height: 100%;
    width: 36%;
    object-fit: cover;
}
.card-content {
    display: flex;
    flex-direction: column;
    padding-inline: 24px;
    padding-right: 32px;
    padding-top: 16px;
    gap: 12px;
    position: relative;
}

.card-content a, .card-content h4 {
    color: #0d0d0d;
}

.card-content h4{
    font-size: 20px;
    letter-spacing: -0.25px;
}

.card-content a {
    text-decoration: underline;
    margin-left: -4px;
    position: absolute;
    bottom: 16px;
    font-weight: 600;
}

.card-content p {
    font-family: 'Graphik Trial', serif;
    font-size: 14px;
    letter-spacing: 0.2px;
    width: 100%;
}
.cards-row {
    display: flex;
    gap: 24px;
    margin: 0 auto;
}
.row-card {
    display: flex;
    flex-direction: column;
    height: 488px;
    background-color: var(--white);
    padding: 8px; 
    border-radius: 16px;
    width: 344px;
    padding-top: 10px;  
    
}

.row-card img {
    object-fit: cover;
    height: 144px;
    width: 100%;
    border-radius: 8px;
}

.row-card-content {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
    line-height: 140%;
    position: relative;
    height: 100%;
}

.row-card-content h6, .row-card-content p {
    font-size: 14px;
}

.row-card-content h4 {
    font-size: 18px;
    font-weight: 700;
    color: #0d0d0d;
}

.row-card-content p {
    font-size: 14px;
}

.row-card-content a {
    position: absolute;
    bottom: 24px;
    font-weight: 600;
    color: #0d0d0d;
    text-decoration: underline;
}