.orange-bg {
    background-color: var(--orange);
}

.white-bg {
    background-color: var(--white);
}
.red-bg {
    background-color: var(--red)
}
.container.md {
    padding-inline: 80px;
    padding-block: 0;
}

.about.white {
    color: var(--white);
    border: solid 2px var(--white);
}

a.white {
    color: var(--white);

}